.beerContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 20px auto;
  gap: 30px 0;
}

@media only screen and (max-width: 600px) {
  .beerContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}