.beerCard {
  border: 1px solid #eee;
  background-color: rgba(136, 145, 161, 0.5);
  width: 80%;
  height: 100%;
  margin: auto;
  color: #eee;

  h4 {
    // text-transform: uppercase;
  }

  .beerDetails {
    display: flex;
  
    img {
      width: 20%;
      margin: 5px;
    }
  }
}