.beerCard {
  border: 1px solid #9b9a9a;
  background-color: rgba(96, 105, 121, 0.5);
  width: 80%;
  height: 100%;
  margin: auto;
  color: #b8b8b8;
  text-align: center;

  &:hover {
    border: 1px solid #aad8d3;
    color: #eee;

    h4 {
      color: #b8eee8;
    }
  }

  h4 {
    margin: 10px;
  }

  .beerDetails {
    display: flex;
  
    img {
      width: 20%;
      margin: 5px;
    }
  }
}