body {
  box-sizing: border-box;
  background-color: #393e46;
}

h1 {
  color: #00adb5;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid  #00adb5;
  color: #fff;
}